.lobby-screen .container h2 {
  padding: 0 20px;
  border-radius: 20px;
  background-color: var(--col11);
  position: relative;
}

.lobby-screen .container h2::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: var(--col1);
  margin-top: 2px;
}

.players-containersssssssss {
  position: fixed;
  z-index: -1;
  top: 50%;
  left: 50%;
  width: 95%;
  height: 95%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  transform: translate(-50%, -50%);
}

.player-card {
  height: 105px;
  width: 75px;
  position: relative;
  text-align: center;
  border: 2px solid var(--col11);
  outline: 2px solid var(--col1);
  border-radius: 8px;
  box-shadow: 0 2px 5px var(--col2);
  background-color: var(--col11);
  overflow: hidden;
}

.player-card::after {
  content: "";
  width: 40px;
  height: 40px;
  background: url("../img/player/front-frame1.png") center / cover no-repeat;
  border-radius: 50%;
  left: 50%;
  top: 10px;
  position: absolute;
  border: 2px solid var(--col11);
  transform: translateX(-50%);
}


.players-containersssssssss .player-card:nth-child(2) {
  justify-self: end;
}

.players-containersssssssss .player-card:nth-child(3) {
  align-self: end;
}

.players-containersssssssss .player-card:nth-child(4) {

  justify-self: end;
  align-self: end;
}


.player-card span {
  display: block;
  margin-top: 60px;
  font-size: 13px;
}

.chat-container {
  margin-top: 61px;
  display: flex;
  justify-content: center;
}

.chat-wrapper {
  border-radius: 15px;
  position: relative;
  box-shadow: 0 0 5px 2px var(--col1);
}

.chat-wrapper::after {
  content: "";
  background: url("../img/movie_chara_2.png") no-repeat;
  position: absolute;
  width: 244px;
  height: 235px;
  bottom: -50px;
  right: -200px;
  z-index: 2;
}

.chat-messages {
  width: 250px;
  height: 60vh;
  border-radius: 15px 15px 0 0;
  overflow-y: scroll;
  padding: 10px 5px;
  scrollbar-color: #fff #fff;
  scrollbar-width: thin;
  display: flex;
  flex-direction: column;
  background-color: var(--col111);
}

.chat-messages span {
  display: block;
  width: fit-content;
  padding: 3px 12px;
  border-radius: 0 12px 12px;
  word-wrap: anywhere;
  margin: 8px 0;
  box-shadow: 0 0 5px var(--col11);
  color: var(--col1);
  background-color: #fff;
  font-size: 14px;
  animation: msg 0.8s ease-out 1;
}

.chat-messages .right {
  border-radius: 12px 0 12px 12px;
  align-self: end;
}

.chat-messages strong {
  font-size: 16px;
  display: block;
  text-transform: capitalize;
  color: var(--col11);
}

@keyframes msg {
  0% {
    transform: scale(0.90) translate(10px, -5px);
  }

  25% {
    transform: scale(1.05);
  }

  50% {
    transform: scale(0.95) translateX(-5px);
  }

  100% {
    transform: scale(1) translate(0px);
  }
}


#chat-input {
  width: 100%;
  font-size: 1rem;
  width: calc(100% - 8px);
  padding: 0;
  outline: none;
  text-align: center;
  padding: 8px 4px;
  margin: 0;

  border: none;
  color: white;
  border-radius: 0 0 15px 15px;
  background-color: var(--col11);
}

.bounce {
  background-color: var(--col1);
  animation: bounce 0.8s infinite alternate;
  box-shadow: 0  0 5px 2px cyan;
}

@keyframes bounce {
  from {
    transform: scale(0.97);
  }

  to {
    transform: scale(1.03);
  }
}

#quit-btn {
  background-color: transparent;
  width: 60px;
  padding: 0;
  cursor: pointer;
}

#quit-btn img {
  width: 100%;
}

/* media query */
@media screen and (max-width:768px) {
  .chat-wrapper::after {
    bottom: 150px;
    right: 10px;
    z-index: -2;
  }
}

@media screen and (max-width:600px) {


  .chat-messages {
    height: 50vh;
  }

  .players-containersssssssss {
    position: static;
    margin-top: 2rem;
    width: 100%;
    height: auto;
    grid-template-columns: repeat(4, 1fr);
    transform: none;
  }

  .players-containersssssssss>div.player-card {
    justify-self: auto !important;
  }
}

@media screen and (max-width:400px) {
  .player-card {
    width: 60px;
  }

}