@import url("https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&display=swap");

:root {
  --cell-size: 30px;

  /* --col1: #ee4f71;
    --col11: #ce3657;
    --col111: #ce3657ad;
    --col2: #f67f00; 
  --gradient1: #ffad1e;
  --gradient2: #ffd94b;
*/
  --col1: #4ab0dc;
  --col11: #258ab5;
  --col111: #05529999;
  --col2: #068dba;

  --gradient1: #1ec3ff;
  --gradient2: #79ceff;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #1a1a1a;
  color: white;
  background-image: url("../img/bg_pattern.jpg");
}

a {
  color: #eee;
  text-decoration: none;
  margin: 5px;
}

button,
input {
  padding: 5px 10px;
  cursor: pointer;
  border: none;
}

label {
  cursor: pointer;
  display: block;
}