
/* 404 */
.x404-screen {
    text-align: center;
    padding: 40px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.x404-screen h1 {
    font-size:2rem;
    /* Tomato color */
    position: relative;
}
.x404-screen h1::after{
    content: "";
    position: absolute;
    width: 250px;
    height: 250px;
    bottom: 100%;
    left: 50%;
    background: url("../img/444.png") no-repeat 100% 100%;
    transform: translateX(-50%);
}

.x404-screen p {
    font-size: 1.2em;
    color: #666;
}

.x404-screen img {
    max-width: 200px;
    margin-top: 20px;
}

.x404-screen button {
    background-color: #007bff;
    padding: 10px 20px;
    font-size: 1em;
    margin-top: 20px;
    border-radius: 5px;
}

.x404-screen button:hover {
    background-color: #0056b3;
}