@import url("./join.css");
@import url("./lobby.css");
@import url("./game.css");
@import url("./notfound.css");

#app {
  margin: 10px;
}

h2 {
  text-align: center;
}


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn{
  cursor: pointer;
  margin-top: 15px;
  font-family: "DynaPuff", system-ui;
  display: block; 
  position: relative;
  font-size: 1.2rem;
  font-weight: 600;
  background: linear-gradient(to bottom, #fff, #ffde6a);
  background-size: 100% 150%;
  background-position: top;
  transition: background-position 0.3s; 
}

.btn:hover {
  background-position: bottom;
}